@CHARSET "ISO-8859-1";
form .big,.form-item{width:470px; margin-bottom:13px;}
.tabl-width
{width: 200px;}
.mainContent
{
	margin: 10px 40px 10px 10px;
	padding:5px 5px 5px 5px;
	border: 1px solid;
	background-color: #DBD7D7;
}

.sleft
{
	width: 180px;
}