<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<servlet>
		<description>
		</description>
		<display-name>
		CaptchaServlet</display-name>
		<servlet-name>CaptchaServlet</servlet-name>
		<servlet-class>
		com.ipablive.services.CaptchaService</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		IPaidService</display-name>
		<servlet-name>IPaidService</servlet-name>
		<servlet-class>
		com.ipablive.services.IPaidService</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		ValidateSecurityCode</display-name>
		<servlet-name>ValidateSecurityCode</servlet-name>
		<servlet-class>
		com.ipablive.services.ValidateSecurityCode</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		IDidnotPaidService</display-name>
		<servlet-name>IDidnotPaidService</servlet-name>
		<servlet-class>
		com.ipablive.services.IDidnotPaidService</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		IDontHavetoPayService</display-name>
		<servlet-name>IDontHavetoPayService</servlet-name>
		<servlet-class>
		com.ipablive.services.IDontHavetoPayService</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		ContactService</display-name>
		<servlet-name>ContactService</servlet-name>
		<servlet-class>
		com.ipablive.services.ContactService</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		RegisterUpdatesServices</display-name>
		<servlet-name>RegisterUpdatesServices</servlet-name>
		<servlet-class>
		com.ipablive.services.RegisterUpdatesServices</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CaptchaServlet</servlet-name>
		<url-pattern>/getCaptcha.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>IPaidService</servlet-name>
		<url-pattern>/tellbribestory/RegisterIPaidComplaint.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ValidateSecurityCode</servlet-name>
		<url-pattern>/validateCode.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>IDidnotPaidService</servlet-name>
		<url-pattern>/tellbribestory/RegisterIDintPaidComplaint.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>IDontHavetoPayService</servlet-name>
		<url-pattern>/tellbribestory/RegisterIDontHavePayComplaint.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ContactService</servlet-name>
		<url-pattern>/contact.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegisterUpdatesServices</servlet-name>
		<url-pattern>/registerUpdates.do</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
	<session-config>
    	<session-timeout>20</session-timeout>
    </session-config>
    <error-page>
    	<error-code>404</error-code>
    	<location>/errors/Error404.jsp</location>
    </error-page>
     <error-page>
    	<error-code>500</error-code>
    	<location>/errors/Error500.jsp</location>
    </error-page>
</web-app>
