@CHARSET "ISO-8859-1";

HTML {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	BACKGROUND: none transparent scroll repeat 0% 0%;
	background-color: #48484A;
	VERTICAL-ALIGN: middle;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

BODY {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 8px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	BACKGROUND: none transparent scroll repeat 0% 0%;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px;
	font-family: Verdana, sans-serif;
	color: #000;
	font-size: 12px;
}

.clear {
	clear: both;
	visibility: hidden;
	height: 5px;
	display: block;
}

/* Applied to all the forms in jsps*/
#ipabforms LABEL {
	FONT-FAMILY: "Century Gothic", "Helvetica Neue", "Arial, Helvetica",
		"Nimbus Sans L", "sans-serif";
}

#ipabforms {
	POSITION: relative;
	MARGIN: 24px 0px;
	OVERFLOW: hidden;
	BORDER-TOP: #e7e7e7 1px solid;
	width: 500px;
	background-color: #fff;
}

#ipabforms P {
	MARGIN: 10px
}

#ipabforms .comment-notes {
	MARGIN-BOTTOM: 1em
}

#ipabforms .required {
	COLOR: #ff4b33;
	FONT-WEIGHT: bold
}

#ipabforms LABEL {
	COLOR: #888;
	FONT-SIZE: 12px
}

#ipabforms INPUT {
	MARGIN: 0px 0px 9px;
	WIDTH: 98%
}

#ipabforms TEXTAREA {
	WIDTH: 98%
}

#ipabforms .form-allowed-tags {
	LINE-HEIGHT: 18px;
	COLOR: #888;
	FONT-SIZE: 12px
}

#ipabforms .form-allowed-tags CODE {
	FONT-SIZE: 11px
}

#ipabforms .form-submit {
	MARGIN: 12px 0px
}

#ipabforms .form-submit INPUT {
	WIDTH: auto;
	FONT-SIZE: 14px
}

/*
* Footer styles
*/
.footer {
	width: 100%;
	padding-bottom: 2px;
	background: #fff !important;
	color: #000;
	float: left;
	border-top: #e2e1e9 2px solid;
	display: block;
	font: "Trebuchet MS";
}

.footer table {
	margin: 0 !important;
	padding: 0px !important;
}

.footer table td {
	margin: 0px !important;
	padding: 0px;
	width: 480px !important;
}

.footer table tr {
	margin: 0 !important;
	vertical-align: text-top;
}

.footer tbody {
	border: none !important;
}

.footer a {
	color: #666;
	text-decoration: none;
	font-size: 11px;
}

.footer a:hover {
	color: #42cbea;
	text-decoration: none;
	font-size: 11px;
}

.footer ul {
	color: #666;
	text-decoration: none;
	font-size: 11px;
	font-weight: bold;
	text-align: left;
	margin: 5px 0;
	padding-top: 0px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	display: block;
}

.footer li {
	color: #666;
	text-decoration: none;
	font-size: 11px;
	font-weight: normal;
	line-height: 14px;
	padding: 0px;
	margin: 0px;
	text-align: left;
	list-style: none;
	clear: both;
}

.footer-content {
	margin-left: 75px;
	margin-right: 40px;
}

.shareurls a {
	padding: 7px 15px;
	margin-left: 7px;
	background:
		url(http://localhost:8080/ipab-java/theme/images/smo-icons.jpg)
		no-repeat;
}

.twitter_bot {
	background-position: -31px 0 !important;
}

.youtube_bot {
	background-position: -62px 0 !important;
}

.orkut_bot {
	background-position: -93px 0 !important;
}

.copyright {
	text-align: center;
	color: #6D6E72;
}

/*
Bottom stack styles
*/
.stack {
	position: fixed;
	bottom: 0px;
	right: 120px;
	font: 13px "Trebuchet MS", Verdana, Helvetica, sans-serif;
	color: #666;
}

.stack * {
	margin: 0;
	padding: 0;
}

.stack>img {
	position: relative;
	cursor: pointer;
	padding-top: 35px;
	z-index: 2;
}

.stack ul {
	list-style: none;
	position: absolute;
	top: 5px;
	margin: 0;
	cursor: pointer;
	z-index: 1;
}

.stack ul li {
	position: absolute;
}

.stack ul li img {
	border: 0;
}

.stack ul li span {
	display: none;
}

.stack .openStack li span {
	display: block;
	position: absolute;
	top: 17px;
	right: 60px;
	height: 14px;
	line-height: 14px;
	background-color: #000;
	border: 0;
	padding: 3px 10px;
	text-align: center;
	text-shadow: #000 1px 1px 1px;
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
	font-size: 12px;
	color: #fcfcfc;
	border-radius: 10px;
	opacity: .85;
	filter: alpha(opacity =   85);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

/* IE Fixes */
.stack {
	_position: absolute;
}

.stack ul {
	_z-index: -1;
	_top: -15px;
}

.stack ul li { *
	right: 5px;
}

/*Menu styles*/
#menu_new {
	margin: 0px;
	padding: 0px;
	list-style: none;
	color: #fff;
	z-index: 1000;
}

#menu_new a {
	color: #fff;
	text-decoration: none;
}

#menu_new>li {
	background: #48484a none repeat scroll 0 0;
	cursor: pointer;
	float: left;
	position: relative;
	padding: 0px 0px;
}

#menu_new>li a:hover {
	color: #B0D730;
}

#menu_new .logo {
	background: transparent none repeat scroll 0% 0%;
	padding: 0px !important;
	background-color: Transparent;
}

#menu_new ul {
	padding: 0px;
	margin: 0px;
	display: block;
	display: inline;
}

#menu_new li ul {
	position: absolute;
	top: 0px;
	margin-top: 37px;
	width: 300px;
	line-height: 16px;
	font-weight: bold;
	background-color: #49c7e7;
	color: #49494B !important;
	display: none;
	z-index: 1000;
}

#menu_new li:hover ul {
	display: block;
	background-color: #49c7e7 !important;
	color: #6d6d6d !important;
}

#menu_new li ul li {
	display: block;
	margin: 5px 5px;
	padding: 5px !important;
	border-top: dotted 1px #606060;
	list-style-type: none;
}

#menu_new li ul li:first-child {
	border-top: none;
}

#menu_new li ul li a {
	display: block;
	color: #49494B !important;
}

#menu_new li ul li a:hover {
	color: #49494B !important;
}

#menu_new li ul li:hover {
	background: #B6E3F3 !important;
}

#menu_new #main {
	left: 0px;
	top: -20px;
	padding-top: 20px;
	background-color: #7cb7e3;
	color: #fff;
	z-index: 999;
}

.
searchContainer div {
	background-color: #fff;
	display: inline;
	padding: 5px;
}

.searchContainer input[type="text"] {
	border: none;
}

.searchContainer 
img {
	vertical-align: middle;
}

#menu_new .corner_inset_left {
	position: absolute;
	top: 0px;
	left: -12px;
}

#menu_new .corner_inset_right {
	position: absolute;
	top: 0px;
	left: 150px;
}

#menu_new .last {
	background: transparent none repeat scroll 0% 0%;
	margin: 0px;
	padding: 0px;
	border: none;
	position: relative;
	border: none;
	height: 0px;
}

#menu_new .corner_left {
	position: absolute;
	left: -6px;
	top: 0px;
}

#menu_new .corner_right {
	position: absolute;
	left: 132px;
	top: 0px;
}

#menu_new .middle {
	position: absolute;
	left: 12px;
	height: 20px;
	width: 122px;
	top: 0px;
}

#menu_new ol li,ul li,ul.menu li,.item-list ul li,li.leaf {
	margin: 0px !important;
	padding: 0px !important;
}

ul,.block ul,ol {
	padding: 0 !important;
}

.ghana {
	font-family: Helvetica, Arial, sans-serif;
	text-decoration: none;
	background-color: #6d6d6d;
	font-size: 14px;
	color: #ffffff;
	padding: 9px 10px 7px 10px;
	text-align: center;
	width: 75px !important;
	height: 21px !important;
	float: left;
	border: 0px;
}

.ghana:hover {
	font-family: Helvetica, Arial, sans-serif;
	text-decoration: none;
	background-color: #b6e3f3;
	font-size: 14px;
	color: #49494b;
	padding: 9px 10px 7px 10px;
	text-align: center;
	width: 75px !important;
	height: 21px !important;
	float: left;
}

.ipaidabribe {
	font-family: Helvetica, Arial, sans-serif;
	text-decoration: none;
	background-color: #49c7e7;
	font-size: 14px;
	color: #49494b;
	height: 28px !important;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 9px;
	text-align: center;
	width: 110px !important;
	float: left;
}

.ipaidabribe:hover {
	font-family: Helvetica, Arial, sans-serif;
	text-decoration: none;
	height: 30px !important;
	padding-left: 10px;
	padding-right: 10px;
	height: 28px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 9px;
	background-color: #b6e3f3;
	font-size: 14px;
	color: #49494b;;
	text-align: center;
	width: 110px;
	float: left;
}

.menuactive {
	background-color: #b6e3f3 !important;
}

.iddintpayabribe {
	font-family: Helvetica, Arial, sans-serif;
	text-decoration: none;
	float: left;
	height: 36px !important;
	background-color: #49c7e7;
	font-size: 14px;
	color: #49494b;
	padding-top: 1px;
	padding-bottom: 0px;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
	width: 100px !important;
}

.iddintpayabribe:hover {
	font-family: Helvetica, Arial, sans-serif;
	text-decoration: none;
	float: left;
	height: 38px !important;
	background-color: #b6e3f3;
	font-size: 14px;
	color: #49494b;
	padding-top: 1px;
	padding-bottom: 0px;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
	width: 100px !important;
}

.ididnthavetopaybribe {
	font-family: Helvetica, Arial, sans-serif;
	text-decoration: none;
	float: left;
	height: 36px !important;
	background-color: #49c7e7;
	font-size: 14px;
	color: #49494b;
	padding-top: 1px;
	padding-bottom: 0px;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
	width: 120px !important;
}

.ididnthavetopaybribe:hover {
	font-family: Helvetica, Arial, sans-serif;
	text-decoration: none;
	float: left;
	height: 38px !important;
	background-color: #b6e3f3;
	font-size: 14px;
	color: #49494b;
	padding-top: 1px;
	padding-bottom: 0px;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
	width: 120px !important;
}

.idontwanttopayabribe {
	font-family: Helvetica, Arial, sans-serif;
	text-decoration: none;
	float: left;
	height: 36px !important;
	background-color: #49c7e7;
	font-size: 14px;
	color: #49494b;
	padding-top: 1px;
	padding-bottom: 0px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	width: 130px !important;
}

.idontwanttopayabribe:hover {
	font-family: Helvetica, Arial, sans-serif;
	text-decoration: none;
	float: left;
	height: 38px !important;
	background-color: #b6e3f3;
	font-size: 14px;
	color: #49494b;
	padding-top: 1px;
	padding-bottom: 0px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	width: 130px !important;
}

.allreports {
	font-family: Helvetica, Arial, sans-serif;
	text-decoration: none;
	background-color: #fae434;
	font-size: 14px;
	color: #49494b;
	height: 28px !important;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 9px;
	text-align: center;
	width: 100px !important;
	float: left;
}

.allreports:hover {
	font-family: Helvetica, Arial, sans-serif;
	text-decoration: none;
	background-color: #b6e3f3;
	font-size: 14px;
	color: #49494b;
	paddingheight: 28px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 9px;
	text-align: center;
	width: 100px !important;
	float: left;
}

.indthenewstoday {
	font-family: Helvetica, Arial, sans-serif;
	text-decoration: none;;
	background-color: #fae434;
	font-size: 14px;
	color: #49494b;
	height: 28px;
	padding-left: 10px;
	padding-right: 9px;
	padding-top: 9px;
	text-align: center;
	width: 146px !important;
	float: left;
}

.indthenewstoday:hover {
	font-family: Helvetica, Arial, sans-serif;
	text-decoration: none !important;
	background-color: #b6e3f3;
	font-size: 14px;
	color: #49494b;
	height: 30px;
	padding-left: 10px;
	padding-right: 9px;
	padding-top: 9px;
	text-align: center;
	width: 146px !important;
	float: left;
}

/*
Tooltip
*/
#tooltip {
	position: absolute;
	z-index: 3000;
	border: 1px solid #ccc;
	background-color: #eee;
	padding: 5px;
	opacity: 0.85;
	width: 300px;
	height: 200px;
	overflow: hidden;
}

#tooltip h3,#tooltip div {
	margin: 0;
}

#bg-wrapper {
	background-color: #e2e1e9;
	display: block;
	margin: 0px;
}

#primary-nav {
	width: 990px;
	display: inline-block;
	margin: 0 auto;
}

#primary-nav a img.n1 {
	position: relative;
	top: 4px;
	padding-right: 5px;
}

#primary-nav a img.n2 {
	position: relative;
	top: 0px;
	padding-right: 5px;
	padding-bottom: 2px;
}

#primary-nav a img.n3 {
	position: relative;
	top: 0px;
	padding-bottom: 2px;
}

.primary-nav-right {
	float: right;
	color: #fff;
	position: relative;
	top: 5px;
}

.primary-nav-right a {
	color: #fff;
}

/*
Widgets for home, paid, didnt paid etc
*/
.home-block-box {
	width: 450px !important;
	height: 270px !important;
	background-color: #fff;
	display: inline-block;
	margin: 10px;
	padding: 10px 10px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-top-color: #d2cfd7;
	border-right-color: #dad8e0;
	border-bottom-color: #c2bcc5;
	box-shadow: inset 0 1px 1px #9f9d9f, 3px 0px 3px #9f9d9f;
	-o-box-shadow: inset 0 1px 1px #9f9d9f, 0px 3px 3px #9f9d9f;
	-webkit-box-shadow: inset 0 0px 1px #9f9d9f, 0px 3px 3px #9f9d9f;
	-moz-box-shadow: inset 0px 0px 1px #9f9d9f, 0px 3px 3px #9f9d9f;
}

.right-box {
	float: right;
}

.home-block-box2 {
	width: 450px !important;
	height: 515px !important;
	background-color: #fff;
	display: inline-block;
	margin: 10px;
	padding: 10px 10px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-top-color: #d2cfd7;
	border-right-color: #dad8e0;
	border-bottom-color: #c2bcc5;
	box-shadow: inset 0 1px 1px #9f9d9f, 3px 0px 3px #9f9d9f;
	-o-box-shadow: inset 0 1px 1px #9f9d9f, 0px 3px 3px #9f9d9f;
	-webkit-box-shadow: inset 0 0px 1px #9f9d9f, 0px 3px 3px #9f9d9f;
	-moz-box-shadow: inset 0px 0px 1px #9f9d9f, 0px 3px 3px #9f9d9f;
}

.videos-block-box {
	width: 450px !important;
	height: 325px !important;
	background-color: #fff;
	display: inline-block;
	margin: 10px;
	padding: 10px 10px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-top-color: #d2cfd7;
	border-right-color: #dad8e0;
	border-bottom-color: #c2bcc5;
	box-shadow: inset 0 1px 1px #9f9d9f, 3px 0px 3px #9f9d9f;
	-o-box-shadow: inset 0 1px 1px #9f9d9f, 0px 3px 3px #9f9d9f;
	-webkit-box-shadow: inset 0 0px 1px #9f9d9f, 0px 3px 3px #9f9d9f;
	-moz-box-shadow: inset 0px 0px 1px #9f9d9f, 0px 3px 3px #9f9d9f;
}

.news-block-box {
	width: 450px !important;
	height: 325px !important;
	background-color: #fff;
	display: inline-block;
	margin: 10px;
	padding: 10px 10px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-top-color: #d2cfd7;
	border-right-color: #dad8e0;
	border-bottom-color: #c2bcc5;
	box-shadow: inset 0 1px 1px #9f9d9f, 3px 0px 3px #9f9d9f;
	-o-box-shadow: inset 0 1px 1px #9f9d9f, 0px 3px 3px #9f9d9f;
	-webkit-box-shadow: inset 0 0px 1px #9f9d9f, 0px 3px 3px #9f9d9f;
	-moz-box-shadow: inset 0px 0px 1px #9f9d9f, 0px 3px 3px #9f9d9f;
}

.news-block-box1 {
	width: 650px;
	background-color: #fff;
	display: inline-block;
	margin: 10px;
	padding: 10px 10px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-top-color: #d2cfd7;
	border-right-color: #dad8e0;
	border-bottom-color: #c2bcc5;
	box-shadow: inset 0 1px 1px #9f9d9f, 3px 0px 3px #9f9d9f;
	-o-box-shadow: inset 0 1px 1px #9f9d9f, 0px 3px 3px #9f9d9f;
	-webkit-box-shadow: inset 0 0px 1px #9f9d9f, 0px 3px 3px #9f9d9f;
	-moz-box-shadow: inset 0px 0px 1px #9f9d9f, 0px 3px 3px #9f9d9f;
}

.rounded-corners {
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
}

.complaint-block-box {
	width: 650px;
	background-color: #fff;
	FONT-FAMILY: "Century Gothic", "Helvetica Neue", Arial, Helvetica,
		"Nimbus Sans L", sans-serif;
	display: inline-block;
	margin: 10px;
	padding: 10px 10px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-top-color: #d2cfd7;
	border-right-color: #dad8e0;
	border-bottom-color: #c2bcc5;
	box-shadow: inset 0 1px 1px #9f9d9f, 3px 0px 3px #9f9d9f;
	-o-box-shadow: inset 0 1px 1px #9f9d9f, 0px 3px 3px #9f9d9f;
	-webkit-box-shadow: inset 0 0px 1px #9f9d9f, 0px 3px 3px #9f9d9f;
	-moz-box-shadow: inset 0px 0px 1px #9f9d9f, 0px 3px 3px #9f9d9f;
}

#complaint-block-box LABEL {
	COLOR: #888;
	FONT-SIZE: 12px
}

#complaint-block-box INPUT {
	MARGIN: 0px 0px 9px;
}

.report-block-box {
	width: 655px !important;
	background-color: #fff;
	padding: 5px;
	margin-bottom: 10px;
	display: inline-block;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-top-color: #d2cfd7;
	border-right-color: #dad8e0;
	border-bottom-color: #c2bcc5;
	box-shadow: inset 0 1px 1px #9f9d9f, 3px 0px 3px #9f9d9f;
	-o-box-shadow: inset 0 1px 1px #9f9d9f, 0px 3px 3px #9f9d9f;
	-webkit-box-shadow: inset 0 0px 1px #9f9d9f, 0px 3px 3px #9f9d9f;
	-moz-box-shadow: inset 0px 0px 1px #9f9d9f, 0px 3px 3px #9f9d9f;
}

.updates-block-box {
	width: 655px !important;
	background-color: #fff;
	padding: 5px;
	margin-bottom: 10px;
	display: inline-block;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-top-color: #d2cfd7;
	border-right-color: #dad8e0;
	border-bottom-color: #c2bcc5;
	box-shadow: inset 0 1px 1px #9f9d9f, 3px 0px 3px #9f9d9f;
	-o-box-shadow: inset 0 1px 1px #9f9d9f, 0px 3px 3px #9f9d9f;
	-webkit-box-shadow: inset 0 0px 1px #9f9d9f, 0px 3px 3px #9f9d9f;
	-moz-box-shadow: inset 0px 0px 1px #9f9d9f, 0px 3px 3px #9f9d9f;
}

.all-report-block-box {
	width: 655px !important;
	padding: 5px;
	margin-bottom: 10px;
	display: inline-block;
	border-bottom-style: dashed;
	border-bottom: 1px;
}

.about-block-box {
	width: 96% !important;
	height: 100% !important;
	background-color: #fff;
	FONT-FAMILY: "Century Gothic", "Helvetica Neue", Arial, Helvetica,
		"Nimbus Sans L", sans-serif;
	FONT-SIZE: 13px;
	display: inline-block;
	margin-left: 8px;
	margin-bottom: 10px;
	padding: 10px 10px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-top-color: #d2cfd7;
	border-right-color: #dad8e0;
	border-bottom-color: #c2bcc5;
	box-shadow: inset 0 1px 1px #9f9d9f, 3px 0px 3px #9f9d9f;
	-o-box-shadow: inset 0 1px 1px #9f9d9f, 0px 3px 3px #9f9d9f;
	-webkit-box-shadow: inset 0 0px 1px #9f9d9f, 0px 3px 3px #9f9d9f;
	-moz-box-shadow: inset 0px 0px 1px #9f9d9f, 0px 3px 3px #9f9d9f;
}

.contactus-block-box {
	width: 96% !important;
	FONT-FAMILY: "Century Gothic", "Helvetica Neue", Arial, Helvetica,
		"Nimbus Sans L", sans-serif;
	height: 100% !important;
	background-color: #fff;
	display: inline-block;
	margin-left: 8px;
	margin-bottom: 10px;
	padding: 10px 10px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-top-color: #d2cfd7;
	border-right-color: #dad8e0;
	border-bottom-color: #c2bcc5;
	box-shadow: inset 0 1px 1px #9f9d9f, 3px 0px 3px #9f9d9f;
	-o-box-shadow: inset 0 1px 1px #9f9d9f, 0px 3px 3px #9f9d9f;
	-webkit-box-shadow: inset 0 0px 1px #9f9d9f, 0px 3px 3px #9f9d9f;
	-moz-box-shadow: inset 0px 0px 1px #9f9d9f, 0px 3px 3px #9f9d9f;
}

.updates-block-box {
	width: 400 !important;
	height: 100% !important;
	background-color: #fff;
	display: inline-block;
	margin-left: 8px;
	margin-bottom: 10px;
	padding: 10px 10px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-top-color: #d2cfd7;
	border-right-color: #dad8e0;
	border-bottom-color: #c2bcc5;
	box-shadow: inset 0 1px 1px #9f9d9f, 3px 0px 3px #9f9d9f;
	-o-box-shadow: inset 0 1px 1px #9f9d9f, 0px 3px 3px #9f9d9f;
	-webkit-box-shadow: inset 0 0px 1px #9f9d9f, 0px 3px 3px #9f9d9f;
	-moz-box-shadow: inset 0px 0px 1px #9f9d9f, 0px 3px 3px #9f9d9f;
}

.polls-block-box {
	width: 650px;
	height: 100% !important;
	background-color: #fff;
	FONT-FAMILY: "Century Gothic", "Helvetica Neue", Arial, Helvetica,
		"Nimbus Sans L", sans-serif;
	display: inline-block;
	margin: 10px;
	padding: 10px 10px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-top-color: #d2cfd7;
	border-right-color: #dad8e0;
	border-bottom-color: #c2bcc5;
	box-shadow: inset 0 1px 1px #9f9d9f, 3px 0px 3px #9f9d9f;
	-o-box-shadow: inset 0 1px 1px #9f9d9f, 0px 3px 3px #9f9d9f;
	-webkit-box-shadow: inset 0 0px 1px #9f9d9f, 0px 3px 3px #9f9d9f;
	-moz-box-shadow: inset 0px 0px 1px #9f9d9f, 0px 3px 3px #9f9d9f;
}

.video-block-box {
	width: 655px !important;
	FONT-FAMILY: "Century Gothic", "Helvetica Neue", Arial, Helvetica,
		"Nimbus Sans L", sans-serif;
	height: 100% !important;
	background-color: #fff;
	display: inline-block;
	margin-left: 8px;
	margin-bottom: 10px;
	padding: 10px 10px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-top-color: #d2cfd7;
	border-right-color: #dad8e0;
	border-bottom-color: #c2bcc5;
	box-shadow: inset 0 1px 1px #9f9d9f, 3px 0px 3px #9f9d9f;
	-o-box-shadow: inset 0 1px 1px #9f9d9f, 0px 3px 3px #9f9d9f;
	-webkit-box-shadow: inset 0 0px 1px #9f9d9f, 0px 3px 3px #9f9d9f;
	-moz-box-shadow: inset 0px 0px 1px #9f9d9f, 0px 3px 3px #9f9d9f;
}

.blog-block-box {
	width: 655px !important;
	FONT-FAMILY: "Century Gothic", "Helvetica Neue", Arial, Helvetica,
		"Nimbus Sans L", sans-serif;
	height: 100% !important;
	background-color: #fff;
	display: inline-block;
	margin-left: 8px;
	margin-bottom: 10px;
	padding: 10px 10px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-top-color: #d2cfd7;
	border-right-color: #dad8e0;
	border-bottom-color: #c2bcc5;
	box-shadow: inset 0 1px 1px #9f9d9f, 3px 0px 3px #9f9d9f;
	-o-box-shadow: inset 0 1px 1px #9f9d9f, 0px 3px 3px #9f9d9f;
	-webkit-box-shadow: inset 0 0px 1px #9f9d9f, 0px 3px 3px #9f9d9f;
	-moz-box-shadow: inset 0px 0px 1px #9f9d9f, 0px 3px 3px #9f9d9f;
}

#complaint-block-box LABEL {
	COLOR: #888;
	FONT-SIZE: 12px
}

#complaint-block-box INPUT {
	MARGIN: 0px 0px 9px;
}

/*
Centered div for all error messages
*/
.centered {
	display: block;
	border: 3px;
	color: red;
	border-color: red;
	/*set the div in the center of the screen*/
	top: 50%;
	left: 35%;
	width: 100% !important;
	height: 100% !important;
	position: absolute;
}

/*
bgboxes
*/
bgbox {
	background: #fff;
	margin-top: 10px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-top-color: #d2cfd7;
	border-right-color: #dad8e0;
	border-bottom-color: #c2bcc5;
	box-shadow: inset 0 1px 1px #9f9d9f, 3px 0px 3px #9f9d9f;
	-o-box-shadow: inset 0 1px 1px #9f9d9f, 0px 3px 3px #9f9d9f;
	-webkit-box-shadow: inset 0 0px 1px #9f9d9f, 0px 3px 3px #9f9d9f;
	-moz-box-shadow: inset 0px 0px 1px #9f9d9f, 0px 3px 3px #9f9d9f;
}

.bgbox2 {
	width: 618px !important;
	background: #fff;
	margin-top: 5px;
	margin-left: 20px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-top-color: #d2cfd7;
	border-right-color: #dad8e0;
	border-bottom-color: #c2bcc5;
	margin-bottom: 10px;
	box-shadow: inset 0 1px 1px #9f9d9f, 3px 0px 3px #9f9d9f;
	-o-box-shadow: inset 0 1px 1px #9f9d9f, 0px 3px 3px #9f9d9f;
	-webkit-box-shadow: inset 0 0px 1px #9f9d9f, 0px 3px 3px #9f9d9f;
	-moz-box-shadow: inset 0px 0px 1px #9f9d9f, 0px 3px 3px #9f9d9f;
}

.bgbox2 select {
	width: 120px !important;
}

.bgbox2 label {
	width: 100px !important;
}

.bgbox1 {
	background: #fff;
	margin-top: 10px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-top-color: #d2cfd7;
	border-right-color: #dad8e0;
	border-bottom-color: #c2bcc5;
	height: 120px !important;
	padding-top: 5px;
	padding-bottom: 3px;
	box-shadow: inset 0 1px 1px #9f9d9f, 3px 0px 3px #9f9d9f;
	-o-box-shadow: inset 0 1px 1px #9f9d9f, 0px 3px 3px #9f9d9f;
	-webkit-box-shadow: inset 0 0px 1px #9f9d9f, 0px 3px 3px #9f9d9f;
	-moz-box-shadow: inset 0px 0px 1px #9f9d9f, 0px 3px 3px #9f9d9f;
}

#bribe-analytics-box table {
	width: 700px !important;
	margin-bottom: 5px;
}

/*
Tab styles copied from old file - need to modify
*/
.tabcontent,.new {
	float: left;
}

ul.tabs,ul.new {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px;
	width: 100% !important;
}

ul.tabs li,ul.new li {
	float: left;
	margin: 0;
	padding: 0;
	height: 32px;
	line-height: 31px;
	background: #271911;
	overflow: hidden;
	position: relative;
	width: 225px;
	text-align: center;
}

ul.tabs li.last,ul.new li.last {
	margin-right: 0;
	float: right;
}

ul.tabs li a,ul.new li a {
	text-decoration: none;
	color: #e7ad23;
	display: block;
	font-size: 15px;
	padding: 0 15px;
	outline: none;
}

ul.tabs li.active a,ul.new li.active a {
	color: #4b1b05;
	font-weight: bold;
}

html ul.tabs li.active,html ul.tabs li.active a:hover,html ul.new li.active,html ul.new li.active a:hover
	{
	background: #e2e1e9;
}

.tab_container {
	border-top: none;
	float: left;
	margin-bottom: 20px;
	background: #e2e1e9;
	padding: 10px;
	width: 430px !important;
	height: 320px !important;
}

.moreAnalysis {
	background:
		url("http://localhost:8080/ipab-java/theme/images/seeAll.png")
		no-repeat scroll 100% 5px transparent;
	margin-top: 10px;
	padding-right: 15px;
	text-align: right;
}

.moreAnalysis a {
	color: #9B1B1A;
}

.all_categories {
	background-color: #fff;
	color: #4b1b05;
	margin-bottom: 5px;
	margin-top: 30px;
	width: 420px;
	margin-right: 20px;
	margin-left: 0px;
}

/*
See All styles
*/
.seeAll {
	text-align: right;
	padding-right: 25px;
	margin-top: 10px;
	font-size: 12px;
	clear: both;
	background: url(http://localhost:8080/ipab-java/theme/images/seeAll.png)
		100% 4px no-repeat;
}

.seeAllList {
	clear: both;
	padding-right: 0;
	margin: 10px 10px 10px 10px;
}

.seeAllList ul {
	margin: 0;
	padding: 0;
}

.seeAllList li {
	float: right;
	background: url(http://localhost:8080/ipab-java/theme/images/seeAll.png)
		100% 4px no-repeat;
	list-style-type: none;
	margin: 10px 10px 5px 10px;
	padding: 0 15px 0 0;
	background: url(http://localhost:8080/ipab-java/theme/images/seeAll.png)
		100% 4px no-repeat;
}

.seeAllList li.last {
	margin-right: 0;
}

.seeAll a,.seeAllList a {
	color: #9b1b1a;
	font-size: 11px;
	margin: 10px;
}

/*
Bribe items and bribe fighter styles
*/
.bribeFighters {
	border-top: none;
	margin-bottom: 50px;
	background: #fff;
	margin-top: 6px;
	height: 485px;
}

.bribeFighters .bribeItems {
	margin-bottom: 10px;
	padding-bottom: 5px;
	border-bottom: 1px dashed #000;
}

.bribeFighters .popularCity,.bribeFighters .popularTitle a {
	color: #4b1b05;
	text-decoration: none;
}

.bribeFighters .popularTitle,.tab_container .popularTitle {
	font-size: 12px;
	line-height: 1.4;
}

.bribeFighters .popularCity a {
	color: #9b1b1a;
}

.bribeFighters .all_categories {
	background: #e7ad23;
	padding: 10px;
	color: #4b1b05;
	margin-bottom: 0;
}

.home_All_h2 {
	font-size: 20px;
	height: 20px;
	color: #ffffff;
	margin-bottom: 5px;
	background: #271911;
	padding: 6px 10px;
}

.bribeFighters .all_categories .categoryHead {
	margin-bottom: 8px;
	font-weight: bold;
	font-size: 13px;
}

.bribeFighters .seeAll {
	margin-bottom: 10px;
}

.bribeFighters div span {
	width: 106%;
	color: #271911;
	margin-top: 2px;
	font-size: 10px;
}

.bribeFighters div p a {
	color: #271911;
}

.bribeFighters div.bribeFightersContent {
	padding: 10px;
	width: 100%;
}

/*.home_bribeFighters_h2 {
	font-size: 20px;
	color: #ffffff;
	margin-bottom: 5px;
	background: #271911;
	padding: 6px 10px;
}*/
.home_bribeFighters_h2 {
	font-size: 20px;
	color: #000;
	margin-bottom: 5px;
	padding: 6px 10px;
}

.home_bribeFighters_h2 span {
	color: #e7ad23;
}

.tab_content .popularCity,.bribeFighters .popularCity {
	font-size: 12px;
}

.tab_content div,.bribeFighters div {
	margin-bottom: 5px;
}

.tab_content div,.bribeFighters div.all_categories {
	margin-bottom: 0;
}

.tab_content .bribeItems {
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-bottom: 1px dashed #644e3c;
}

.tab_content .popularCity {
	color: #5d2a15;
}

.tab_content .popularCity span {
	white-space: nowrap;
}

.tab_content .popularCity a {
	color: #9b1b1a;
}

.tab_content .popularDate {
	color: #a44f1f;
	font-size: 10px;
	margin: 5px 0;
}

.tab_content .popularTitle a {
	color: #644e3c;
}

.tab_content .all_categories {
	background: #ceb9a7;
	padding: 10px;
	color: #5d2a15;
}

.tab_content .all_categories .categoryHead {
	margin-bottom: 10px;
	font-size: 12px;
}

.tab_content .seeAll {
	margin-bottom: 10px;
}

.all_categories .categoryList a {
	color: #981c1f;
}

.tab_content div span a,.bribeFighters div span a {
	color: #5e5f5f;
	text-decoration: none;
}

.bribeReports {
	margin: 0px;
}

/**/
.block ul,ol {
	margin: 0.5em 0 1em;
	padding: 0 0 0 1.5em;
}

/*
Toolkit box
*/
.sidebar {
	margin: 0px 10px 5em 0px;
	width: 260px;
	float: right;
	z-index: 2;
	position: relative;
}

#toolkit-bg {
	width: 250px;
	background-color: #fff;
	FONT-FAMILY: "Century Gothic", "Helvetica Neue", Arial, Helvetica,
		"Nimbus Sans L", sans-serif;
	display: inline-block;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-top-color: #d2cfd7;
	border-right-color: #dad8e0;
	border-bottom-color: #c2bcc5;
	box-shadow: inset 0 1px 1px #9f9d9f, 3px 0px 3px #9f9d9f;
	-o-box-shadow: inset 0 1px 1px #9f9d9f, 0px 3px 3px #9f9d9f;
	-webkit-box-shadow: inset 0 0px 1px #9f9d9f, 0px 3px 3px #9f9d9f;
	-moz-box-shadow: inset 0px 0px 1px #9f9d9f, 0px 3px 3px #9f9d9f;
	height: 380px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-top-color: #d2cfd7;
	border-right-color: #dad8e0;
	border-bottom-color: #c2bcc5;
}

#toolkit_bg_reports {
	width: 250px;
	background-color: #fff;
	FONT-FAMILY: "Century Gothic", "Helvetica Neue", Arial, Helvetica,
		"Nimbus Sans L", sans-serif;
	display: inline-block;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-top-color: #d2cfd7;
	border-right-color: #dad8e0;
	border-bottom-color: #c2bcc5;
	box-shadow: inset 0 1px 1px #9f9d9f, 3px 0px 3px #9f9d9f;
	-o-box-shadow: inset 0 1px 1px #9f9d9f, 0px 3px 3px #9f9d9f;
	-webkit-box-shadow: inset 0 0px 1px #9f9d9f, 0px 3px 3px #9f9d9f;
	-moz-box-shadow: inset 0px 0px 1px #9f9d9f, 0px 3px 3px #9f9d9f;
	height: 380px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-top-color: #d2cfd7;
	border-right-color: #dad8e0;
	border-bottom-color: #c2bcc5;
}

#toolkit_bg h3 {
	color: #42CBEA;
	margin-bottom: 10px;
	padding-left: 75px;
	font-weight: bold;
	height: 26px;
	margin-top: 10px;
}

#toolkit_bg_reports h3 {
	color: #42CBEA;
	margin-bottom: 10px;
	padding-left: 45px;
	font-weight: bold;
	height: 26px;
	margin-top: 10px;
}

#toolkit {
	float: right;
	width: 233px;
	height: 120px;
	background-color: #FFF;
	display: inline-block;
	padding: 10px;
	margin-right: 8px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-top-color: #d2cfd7;
	border-right-color: #dad8e0;
	border-bottom-color: #c2bcc5;
	box-shadow: inset 0 1px 1px #9f9d9f, 3px 0px 3px #9f9d9f;
	-o-box-shadow: inset 0 1px 1px #9f9d9f, 0px 3px 3px #9f9d9f;
	-webkit-box-shadow: inset 0 0px 1px #9f9d9f, 0px 3px 3px #9f9d9f;
	-moz-box-shadow: inset 0px 0px 1px #9f9d9f, 0px 3px 3px #9f9d9f;
}

#toolkit h3 {
	color: #42CBEA;
	margin-bottom: 10px;
	padding-left: 45px;
	background:
		url(http://s3.ipaidabribe.com/sites/all/themes/ipab2011/images/toolkit.png)
		no-repeat 0 0;
	font-weight: bold;
	height: 26px;
	margin-top: 10px;
}

#toolkit a.a {
	color: #666;
	display: block;
	background:
		url(http://s3.ipaidabribe.com/sites/all/themes/ipab2011/images/left_tools_icon.png)
		no-repeat 0 5px;
	padding-left: 22px;
	text-decoration: none;
}

#toolkit a.b {
	color: #666;
	display: block;
	background:
		url(http://s3.ipaidabribe.com/sites/all/themes/ipab2011/images/readreports.png)
		no-repeat 2px 5px;
	padding-left: 22px;
	text-decoration: none;
}

.divContent {
	padding: 3px;
}

form .big {
	width: 95%;
	margin-bottom: 13px;
}

/*
Breadcrumb
*/
.breadcrumb {
	position: relative;
	padding-right: 30px;
	padding-left: 30px;
	z-index: 3;
}

body    . sidebar-first .region-footer {
	margin-left: -210px;
}

body.sidebar-second .region-footer {
	margin-right: -210px;
}

body.two-sidebars     . region-footer {
	margin: 0 -210px;
}

div#branding {
	font-family: Helvetica, Arial, sans-serif;
}

div#branding strong {
	font-weight: normal;
}

#branding, # branding a:link,#branding a:visited {
	color: #fff;
	text-shadow: #1659ac 0px 1px 3px;
	font-size: 1.5em;
}

#branding a:hover {
	text-decoration: none;
}

#wrapper #container .breadcrumb {
	font-size: 1.1em;
	padding-top: 10px;
}

#wrapper #container .breadcrumb,#wrapper #container .breadcrumb a {
	color: #333;
}

/*
Error Styles
*/
#errors {
	background-color: #DD6950;
	color: #F0F0F0;
	width: 400px;
	padding: 20px;
	margin: 5px auto;
	display: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

/* title */
#errors h2 {
	margin: -5px 0;
	color: yellow;
}

/*
Side bar contents
*/
body.one-sidebar #wrapper #container {
	width: 980px;
}

body .two-sidebars #wrapper #container {
	width: 980px;
}

body.fluid-width #wrapper #container {
	width: 990px;
	max-width: 990px;
	margin: 0 auto;
}

#wrapper    # container #header {
	height: 149px;
}

#wrapper #container #header #logo-floater {
	position: relative;
	left: 0px;
	display: block;
	clear: both;
	margin-bottom: 8px;
}

#soc-share {
	position: relative;
	text-align: center;
	left: 110px;
	top: 10px;
}

#soc-share h1 a:hover {
	color: #42CBEA !important;
	text-decoration: none;
}

#top-text {
	position: relative;
	float: left;
	top: 68px;
	left: -36px;
}

#top-text h1 {
	font-size: 156%;
	color: #ffffff !important;
}

#soc-share a {
	margin-right: 10px;
}

#counter {
	float: right;
	left: 145px;
	width: 130px;
	height: 80px;
	color: #000;
	text-align: center;
}

.counter-top {
	padding-top: 33px;
}

.counter-text {
	font-size: 20px;
	font-weight: bold;
}

#branding,#branding a:link,#branding a:visited {
	line-height: 120px;
	position: relative;
	z-index: 2;
	white-space: nowrap;
}

#branding span {
	font-weight: bold;
	display: none;
}

#branding img {
	padding-top: 11px;
	padding-right: 20px;
	float: left;
}

#branding a img {
	text-decoration: none;
	border: none;
}

body.two-sidebars {
	min-width: 980px;
}

body.sidebar-first,body.sidebar-second {
	min-width: 780px;
}

#wrapper #container #center {
	float: left;
	background-color: #e2e1e9;
}

body.sidebar-first #center {
	
}

body   . sidebar-second #center {
	
}

body.two-sidebars #center {
	
}

body.sidebar-first #squeeze {
	
}

body.sidebar-second #squeeze {
	
}

body.two-sidebars #squeeze {
	
}

#wrapper #container .sidebar {
	margin: 0px 10px 5em 0px;
	width: 263px;
	float: left;
	z-index: 2;
	position: relative;
}

#wrapper #container .sidebar    . block {
	margin: 0 0 1em 0;
}

#sidebar-first .block {
	padding: 0 15px 0 0;
}

#sidebar-second .block {
	padding: 0 0 0 15px;
}

.block .content {
	margin-top: 10px;
}

#sidebar-first .block-region {
	margin: 0 15px 0 0px;
}

#sidebar-second .block-region {
	margin: 0 0px 0 15px;
}

.block-region {
	padding: 1em;
	background: transparent;
	border: 2px dashed #b4d7f0;
	text-align: center;
	font-size: 1.3em;
}

#wrapper #container #center #squeeze {
	position: relative;
}

#wrapper #container #center .right-corner {
	background: transparent;
	position: relative;
	left: 10px;
}

#wrapper #container    . region-footer {
	float: none;
	clear: both;
	text-align: center;
	color: #898989;
	width: 990px;
	margin: 0 auto;
	border-top: 2px solid #e2e1e9;
	background-color: #fff;
}

/*
Select box styles
*/
select {
	width: 200px;
}

/*
Date Picker Style
*/ /* Datepicker
----------------------------------*/
.ui-datepicker {
	width: 18em;
	padding: .2em .2em 0;
	background-color: #FFFFFF;
}

.ui-datepicker .ui-datepicker-header {
	position: relative;
	padding: .2em 0;
	background-color: #CCCCCC
}

.ui-datepicker .ui-datepicker-prev,.ui-datepicker .ui-datepicker-next {
	position: absolute;
	top: 2px;
	width: 1.8em;
	height: 1.8em;
}

.ui-datepicker .ui-datepicker-prev-hover,.ui-datepicker .ui-datepicker-next-hover
	{
	top: 1px;
}

.ui-datepicker .ui-datepicker-prev {
	left: 8px;
}

.ui-datepicker .ui-datepicker-next {
	right: 12px;
}

.ui-datepicker .ui-datepicker-prev-hover {
	left: 0px;
}

.ui-datepicker .ui-datepicker-next-hover {
	right: 0px;
}

.ui-datepicker .ui-datepicker-prev span,.ui-datepicker .ui-datepicker-next span
	{
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -8px;
	top: 50%;
	margin-top: -8px;
}

.ui-datepicker .ui-datepicker-title {
	margin: 0 2.3em;
	line-height: 1.8em;
	text-align: center;
}

.ui-datepicker .ui-datepicker-title select {
	font-size: 1em;
	margin: 1px 0;
}

.ui-datepicker select.ui-datepicker-month-year {
	width: 100%;
}

.ui-datepicker select.ui-datepicker-month,.ui-datepicker select.ui-datepicker-year
	{
	width: 49%;
}

.ui-datepicker table {
	width: 100%;
	font-size: .9em;
	border-collapse: collapse;
	margin: 0 0 .4em;
}

.ui-datepicker th {
	padding: .7em .3em;
	text-align: center;
	font-weight: bold;
	border: 0;
}

.ui-datepicker td {
	border: 0;
	padding: 1px;
}

.ui-datepicker td span,.ui-datepicker td a {
	display: block;
	padding: .2em;
	text-align: right;
	text-decoration: none;
}

.ui-datepicker .ui-datepicker-buttonpane {
	background-image: none;
	margin: .7em 0 0 0;
	padding: 0 .2em;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}

.ui-datepicker .ui-datepicker-buttonpane button {
	float: right;
	margin: .5em .2em .4em;
	cursor: pointer;
	padding: .2em .6em .3em .6em;
	width: auto;
	overflow: visible;
}

.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
	float: left;
}

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi {
	width: auto;
}

.ui-datepicker-multi .ui-datepicker-group {
	float: left;
}

.ui-datepicker-multi .ui-datepicker-group table {
	width: 95%;
	margin: 0 auto .4em;
}

.ui-datepicker-multi-2 .ui-datepicker-group {
	width: 50%;
}

.ui-datepicker-multi-3 .ui-datepicker-group {
	width: 33.3%;
}

.ui-datepicker-multi-4 .ui-datepicker-group {
	width: 25%;
}

.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header {
	border-left-width: 0;
}

.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
	border-left-width: 0;
}

.ui-datepicker-multi .ui-datepicker-buttonpane {
	clear: left;
}

.ui-datepicker-row-break {
	clear: both;
	width: 100%;
}

/* RTL support */
.ui-datepicker-rtl {
	direction: rtl;
}

.ui-datepicker-rtl .ui-datepicker-prev {
	right: 2px;
	left: auto;
}

.ui-datepicker-rtl .ui-datepicker-next {
	left: 2px;
	right: auto;
}

.ui-datepicker-rtl .ui-datepicker-prev:hover {
	right: 1px;
	left: auto;
}

.ui-datepicker-rtl .ui-datepicker-next:hover {
	left: 1px;
	right: auto;
}

.ui-datepicker-rtl .ui-datepicker-buttonpane {
	clear: right;
}

.ui-datepicker-rtl .ui-datepicker-buttonpane button {
	float: left;
}

.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current
	{
	float: right;
}

.ui-datepicker-rtl .ui-datepicker-group {
	float: right;
	background-color: #CCCCC0;
}

.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header {
	border-right-width: 0;
	border-left-width: 1px;
}

.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
	border-right-width: 0;
	border-left-width: 1px;
}

/* IE6 IFRAME FIX (taken from datepicker 1.5.3 */
.ui-datepicker-cover {
	display: none; /*sorry for IE5*/
	display /**/: block; /*sorry for IE5*/
	position: absolute; /*must have*/
	z-index: -1; /*must have*/
	filter: mask(); /*must have*/
	top: -4px; /*must have*/
	left: -4px; /*must have*/
	width: 200px; /*must have*/
	height: 200px; /*must have*/
}

/*
Bribe filter box
*/
#bribe-filter-box {
	width: 655px;
	display: inline-block;
	margin-top: 10px;
	padding: 10px 25px;
	box-shadow: inset 0 1px 1px #9f9d9f, 3px 0px 3px #9f9d9f;
	-o-box-shadow: inset 0 1px 1px #9f9d9f, 0px 3px 3px #9f9d9f;
	-webkit-box-shadow: inset 0 0px 1px #9f9d9f, 0px 3px 3px #9f9d9f;
	-moz-box-shadow: inset 0px 0px 1px #9f9d9f, 0px 3px 3px #9f9d9f;
}

.report_reg {
	width: auto;
	padding-bottom: 25px;
	margin-bottom: 20px;
	margin-top: 20px;
}

.report_reg h2 {
	width: 400px;
	padding: 0px;
	margin-top: 20px;
	font-size: 12px;
	font-weight: bold;
	color: #514040 !important;
}

.report_reg_det {
	width: 400px;
	margin-top: 20px;
	font-size: 12px;
	color: #514040;
	float: left;
	line-height: 20px;
	margin-bottom: 15px;
}

.report_reg_paid {
	width: 107px;
	height: 30px;
	float: left;
	margin-bottom: 15px;
	padding: 8px 5px 0 10px;
	font-size: 10px;
	font-weight: bold;
	background: url(http://localhost:8080/ipab-java/theme/images/paid.png)
		no-repeat top;
}

.report_reg_paid span {
	font-size: 14px;
	font-weight: bold;
	margin-left: 5px;
}

.report_reg_more {
	width: 100%;
	margin-top: 5px;
	padding-right: 10px;
	float: left;
}

.report_reg_more a,a.yellow_box {
	font-size: 12px;
	font-style: italic;
	color: #9A2A2A;
	margin: 0 10px 15px 0;
	border: 1px solid #e8ad04;
	padding: 3px;
	text-align: center;
}

.report_reg_more a.facebook_share_view,.report_reg_more a.tweet_share_view
	{
	padding: 1px 23px 1px 22px;
	border: none;
	font-size: 11px;
}

.reports_sidebar {
	margin: 0px 10px 5em 0px;
	width: 260px;
	float: right;
	z-index: 2;
	position: relative;
}

.reportDisplay {
	width: 655px !important;
	background-color: #E2E1E9;
	display: inline-block;
	margin: 10px;
	padding: 10px;
}

.allReportDisplay {
	width: 655px !important;
	background-color: #fff;
	padding: 10px;
	margin: 10px;
	display: inline-block;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-top-color: #d2cfd7;
	border-right-color: #dad8e0;
	border-bottom-color: #c2bcc5;
	box-shadow: inset 0 1px 1px #9f9d9f, 3px 0px 3px #9f9d9f;
	-o-box-shadow: inset 0 1px 1px #9f9d9f, 0px 3px 3px #9f9d9f;
	-webkit-box-shadow: inset 0 0px 1px #9f9d9f, 0px 3px 3px #9f9d9f;
	-moz-box-shadow: inset 0px 0px 1px #9f9d9f, 0px 3px 3px #9f9d9f;
}

/*
Share facebook and twitter views
*/
.facebook_share_view {
	background:
		url(http://localhost:8080/ipab-java/theme/images/f_t_share.jpg)
		no-repeat;
	padding: 1px 23px 1px 22px;
	font-size: 11px;
}

.facebook_share_view:hover {
	background-position: 0 -15px;
}

.tweet_share_view {
	background:
		url(http://localhost:8080/ipab-java/theme/images/f_t_share.jpg)
		no-repeat;
	background-position: 0 -30px;
	padding: 1px 23px 1px 22px;
	font-size: 11px;
}

.tweet_share_view:hover {
	background-position: 0 -45px;
}

/*
Comments styles
*/
.comments-block-box {
	width: 650px;
	background-color: #fff;
	FONT-FAMILY: "Century Gothic", "Helvetica Neue", Arial, Helvetica,
		"Nimbus Sans L", sans-serif;
	display: inline-block;
	margin: 10px;
	padding: 10px 10px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-top-color: #d2cfd7;
	border-right-color: #dad8e0;
	border-bottom-color: #c2bcc5;
	box-shadow: inset 0 1px 1px #9f9d9f, 3px 0px 3px #9f9d9f;
	-o-box-shadow: inset 0 1px 1px #9f9d9f, 0px 3px 3px #9f9d9f;
	-webkit-box-shadow: inset 0 0px 1px #9f9d9f, 0px 3px 3px #9f9d9f;
	-moz-box-shadow: inset 0px 0px 1px #9f9d9f, 0px 3px 3px #9f9d9f;
}

.vote_comment {
	padding: 10px;
	margin-left: 10px;
	border: #e9eff3 1px solid;
}

.vote_comment h2 {
	color: #A04242 !important;
}

.add_comments-block-box {
	width: 650px;
	background-color: #fff;
	FONT-FAMILY: "Century Gothic", "Helvetica Neue", Arial, Helvetica,
		"Nimbus Sans L", sans-serif;
	display: inline-block;
	margin: 10px;
	padding: 10px 10px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-top-color: #d2cfd7;
	border-right-color: #dad8e0;
	border-bottom-color: #c2bcc5;
	box-shadow: inset 0 1px 1px #9f9d9f, 3px 0px 3px #9f9d9f;
	-o-box-shadow: inset 0 1px 1px #9f9d9f, 0px 3px 3px #9f9d9f;
	-webkit-box-shadow: inset 0 0px 1px #9f9d9f, 0px 3px 3px #9f9d9f;
	-moz-box-shadow: inset 0px 0px 1px #9f9d9f, 0px 3px 3px #9f9d9f;
}

/*
Analytics styles
*/
.analytics_div a {
	color: #4b1b05;
	font-size: 11px;
	text-decoration: none;
	text-align: center;
	display: block;
	width: 100%;
}

.analytics {
	height: 281px;
	width: 100%;
	padding: 5px 5px 5px 5px;
	text-align: center;
}

.analytics .graph {
	margin: 10px 0 10px 0;
}

.analytics .analytics_div p {
	text-align: center;
}

.analytics h6,.tadaysHighlight h6 {
	font-size: 18px;
	color: #4b1b05;
}

.analytics_div_report {
	width: 100%;
	float: left;
	font-weight: bold;
	color: #4b1b05;
}

.analytics_div_report .val-1 {
	float: left;
}

.analytics_div_report .val-2 {
	float: right;
}

.analytics_div_report,.analytics .graph h4,.analytics_div_report_top5 {
	padding-bottom: 2px;
	margin-bottom: 2px;
}

.analytics .line {
	border-bottom: 1px dashed #1f110a;
}

.analytics_div_report .ana_color,.analytics .graph span {
	color: #9b1b1a;
}

.ana_bold_none {
	font-weight: normal;
	color: #cebaa8;
}

.bribe_box {
	width: 100%;
	float: left;
	color: #000;
	margin-bottom: 20px;
}

.report_bribe {
	padding: 7px 15px 15px 15px;
}

.report_bribe b a,.analytics b,.analytics b a {
	font-size: 10px;
}

.todayPoll {
	margin: 5px;
}

.pollResults {
	border: 1px;
	border-style: dashed;
}

/*
Twitter
*/
h2.tut {
	color: black;
	font-family: "Myriad Pro", Arial, Helvetica, sans-serif;
	font-size: 16px;
	padding: 12px 0 0 58px;
	text-transform: uppercase;
	text-shadow: 2px 1px 6px #333;
}

#twitter-ticker { /* Styling the ticker */
	width: 100%;
	height: 350px;
	background:url(http://localhoost:8080/ipab-java/theme/images/twitter/slickbg.png) no-repeat #f5f5f5;
	color: #666666;
	display: none;
	/* Rounded corners */
	-moz-border-radius: 10px 10px 6px 6px;
	-khtml-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	text-align: left;
}

#tweet-container { /* This is where the tweets are inserted */
	position: absolute;
	width: 235px;
	padding-right: 5px;
	height: 300px;
	overflow-y: auto;
}

#twitIcon {
	/* Positioning the icon holder absolutely and moving it to the upper-left */
	position: absolute;
	top: -25px;
	left: -10px;
	width: 64px;
	height: 64px;
}

#top-bar {
	height: 45px;
	background:url(http://localhoost:8080/ipab-java/theme/images/twitter/top_bar.png) repeat-x;
	border-bottom: 1px solid white;
	position: relative;
	margin-bottom: 8px;
	/* Rounding the top part of the ticker, works only in Firefox unfortunately */
	-moz-border-radius: 6px 6px 0 0;
}

.tweet { /* Affects the tweets */
	padding: 5px;
	margin: 0 8px 8px;
	border: 1px solid #F0F0F0;
	background:url(http://localhoost:8080/ipab-java/theme/images/twitter/transparent.png);
	width: auto;
	overflow: hidden;
}

.tweet .avatar,.tweet .user,.tweet .time {
	float: left;
}

.tweet .time {
	text-transform: uppercase;
	font-size: 10px;
	color: #AAAAAA;
	white-space: nowrap;
}

.tweet .avatar img {
	width: 36px;
	height: 36px;
	border: 2px solid #eeeeee;
	margin: 0 5px 5px 0;
}

.tweet .txt { /* Using the text container to clear the floats */
	clear: both;
}

.tweet .user {
	font-weight: bold;
}

a,a:visited { /* Styling the links */
	color: #00BBFF;
	text-decoration: none;
	outline: none;
}

a:hover {
	text-decoration: underline;
}

#loading { /* The loading gif animation */
	margin: 100px 95px;
}

#tweet-box-style {
	width: 250px;
	background-color: #fff;
	FONT-FAMILY: "Century Gothic", "Helvetica Neue", Arial, Helvetica,
		"Nimbus Sans L", sans-serif;
	display: inline-block;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-top-color: #d2cfd7;
	border-right-color: #dad8e0;
	border-bottom-color: #c2bcc5;
	box-shadow: inset 0 1px 1px #9f9d9f, 3px 0px 3px #9f9d9f;
	-o-box-shadow: inset 0 1px 1px #9f9d9f, 0px 3px 3px #9f9d9f;
	-webkit-box-shadow: inset 0 0px 1px #9f9d9f, 0px 3px 3px #9f9d9f;
	-moz-box-shadow: inset 0px 0px 1px #9f9d9f, 0px 3px 3px #9f9d9f;
	height: 450px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-top-color: #d2cfd7;
	border-right-color: #dad8e0;
	border-bottom-color: #c2bcc5;
}

#tweets-bottom
{
	height: 50px;
	background-color: #42CBEA;
	padding: 16px;
}